.dashboard {
		height: calc(100vh - 20px);
		margin: 10px;
		display: flex;
	.left-pannel{
		width 10%
		display flex
		flex-direction column
		justify-content center
	}
	.right-board{
		width 90%
		box-sizing border-box
		border 1px solid #000
	}
}