html, body {
	background Seashell
	font-family: sans-serif
}

h1 {
	color: #9c2d3d
}

a {
	text-decoration: none
	color: #9c2d3d
}

p {
	color: #da798c
}

.container {
	max-width: 450px
	margin: auto
}

.border{
	border 1px solid #000
	height 100px
	width 100px
	margin 20px auto
}
